.container{
    height: 100%;
    width: 100%;
    border: 0px white;
}

.vertical-menu{
    width: 25%;
    height: 100%;
    padding: 0px;
    margin-right:0;

}

.vertical-menu ul{
    list-style-type:none;
    text-align: left;
    height: 100%;
    font-size: 20px;
    font-family: calibri;
    margin: 0;
    padding-top: 100px;
}

.vertical-menu a{
    background-color: white;
    color:#262626;
    display: block;
    text-decoration:none;
    position: relative;
    height: 100%;
}

.vertical-menu a:hover{
    background-color: #ccc;
}

.vertical-menu a.active{
    background-color: #ee376e;
}

.menu-background-block{
    height: 100vh;
    width: 25%;
    overflow:auto;
    background-color: white;
    position: absolute;
}
