*{  /*reset*/
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    background-image: url(img/background-pagina.jpg);
    background-repeat: no-repeat;
}

header{
    background-color: white;
    height: 100px;
}

#cabecalho{
    position: relative;
    
}
#logo{
    position: absolute;
    height: 100px;
    margin-left: 50px;
}

.texto{
    color: blueviolet
}

.lbl_grid2{
    margin-left: 135px;
}
article{
    height: 700px;
    float: right;
    padding-right: 100px;
    padding-top: 40px;
    background-image: url(img/fundo-login.png);
    background-position-y: 30px;
    background-position-x: -400px;
    background-repeat: no-repeat;
    background-size: 1200px 500px;
   
    

}
#campos_cadastro{
   margin-left: 20px;
  
}

h1{ 
    font-size: 23px;
    padding-left: 30px;
    padding-top: 10px;
    font-family: 'verdana';
}

#livros{
    height: 600px;
    width: 800px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    background-image: url(img/livro.png);
    background-repeat: no-repeat;
    background-size: 400px;
    background-position-y: 150px;
    background-position-x: 150px;
    float: left;
}

#titulo_texto{
    font-size: 50px;
    margin-top: 10px;
    margin-left: 100px;
    
}


#link_usuario{
    float: right;
}

footer{
    background-color: rgb(243, 143, 235);
    height: 150px;
    width: 100%;
    position: absolute;
    margin-top: 700px;
    
    text-align: center;
    color: blueviolet;
    
}

h4{
    margin-top: 30px;
}

.texto_footer{
    text-align:left;
    margin-top: 35px;
    margin-left: 40px;
}