*{  /*reset*/
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    background-image: url(img/background-pagina.jpg);
    background-repeat: no-repeat;
}

header{
    background-image: url(img/fundo-cabecalho2.png);
    height: 100px;
}

#cabecalho{
    position: relative;

    
}
#logo{
    position: absolute;
    height: 100px;
    margin-left: 50px;
}

.texto{
    color: blueviolet
}

h1{ 
    font-size: 23px;
    padding-left: 30px;
    padding-top: 10px;
    font-family: 'verdana';
}

h2{
    font-family: 'verdana';
    font-size: 15px;
    padding-left: 10px;
    padding-top: 30px;
}

footer{
    background-image: url(img/fundo-footer.png);
    height: 250px;
    width: 100%;
    position: absolute;
    margin-top: 100px;
    
    
    text-align: center;
        
}

h4{
    margin-top: 30px;
    text-align: center;
}

#usr_info{
    position: relative;
    height: 300px;
    width: 1300px;
    margin-top: 20px;
    margin-left: 20px;
    
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    
}

#foto-perfil{
    position: absolute;
    background-image: url(img/baixados.jfif);
    background-repeat: no-repeat;
    height: 250px;
    width: 250px;
    margin-top: 25px;
    margin-left: 30px;
    
}
#usr_titulo{
    position: relative;
    font-weight: bolder;
    margin-left: 300px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(24, 139, 139);
}

#usr_sobre{
    margin-left: 320px;
    margin-right: 500px;
}
#usr_avaliacoes{
    position: absolute;
    margin-left: 900px;
    margin-top: -205px;    
}
#a-estrelas{
    width: 300px;
    margin-top: 10px;
}

#usr_inventario{
    position: relative;
    height: 500px;
    width: 1300px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    
}

#btn_novo_livro{
    margin-left: 1200px;
}

